.contact-main{
    background-color: #d0d3d6;
 height: 100vh;
 width: 100%;
 display: flex;
 justify-content: center;
 align-items: center;
}
.contact {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    width: 50%;
    padding: 20px;
    height: 95vh;
    background-color: #fff;
    border-radius: 20px;
  }
  .contact h1 {
    text-align: justify;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 24px;
  }
  .contact form {
    display: flex;
    flex-direction: column;
  }
  
  /* div {
    margin-bottom: 15px;
  } */
  
  .contact label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact input, textarea {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(11, 11, 11, 0.25);
    }
  .contact textarea{
    padding: 45px;
    font-size: 16px;
    font-weight: 700;
    box-sizing: border-box;
    border-radius: 10px;
  }
  .contact button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    width: 21%;
    /* align-self: flex-end; */
    font-size: 16px;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
  }
  
  .contact button:hover {
    background-color: #0056b3;
  }
  